@CHARSET "UTF-8";

.background {
    -fx-background-color: #088A08;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #F4FA58;
    -fx-text-fill: black;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button_red {
	-fx-background-color: red;
}

.button_red:hover {
	-fx-background-color: orange;
}

.button_keyboard {
	-fx-font-size: 10px;
}

.button_config {
	-fx-background-color: #3B0B0B;
}

.toggle-button {
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	
}

.toggle-button:selected {
	-fx-background-color: yellow;
}

.scroll-pane_config {
	-fx-background-color: #000500;
	-fx-hbar-policy: never;
}	

.label {
	-fx-text-fill: white;
}

.label_title {
	-fx-background-color: linear-gradient(#0B3B0B, #088A08);
	-fx-alignment: center;
}

.label_gray {
	-fx-background-color: linear-gradient(black, #0A2A0A);
	-fx-alignment: center;
	-fx-font-weight: bold;
}

.label_whiteScreen {
	-fx-background-color: linear-gradient(white, #BEF781);
	-fx-text-fill: black;	
}

.gridpane_keyboard {
	
}

.scrollbar_sensors{
	-fx-background-color: linear-gradient(white, black);
}

.textArea_error{
	-fx-text-fill: red;
}

.textArea_error .content{
	-fx-background-color: #F4FA58;
}

